name: Deploy MkDocs

on:
  push:
    branches:
      - main  # publica toda vez que houver push na main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10

      - name: Instalar dependências
        run: |
          pip install mkdocs-material
          pip install pymdown-extensions

      - name: Build + Deploy para GitHub Pages
        run: |
          mkdocs gh-deploy --force
